<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    基金研究
                    <span class="loader text-primary" data-bind="css: { active: isLoading }">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    <div class="page-host">
        <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
    </div>
</div>